
/*-----------------------------------------general style-----------------------------------------*/
*{

margin: 0px;
padding: 0px;
font-size: medium;
font-family: Arial, Helvetica, sans-serif;

}
.container{
    width: 80%;
    margin: auto;
}
/*--------------------------------------end general style-----------------------------------------------*/




/*---------------------------------------header style start------------------------------------------*/
header{
    
    width:100%;
    box-sizing: border-box;
    height: 600px;
      
}

header .headerimage{

width:100%;
height:100%;
z-index: -2;


}

header .headercomment{
position: absolute;
top: 180px;
color: #FFF ;
font-size: 50px;
font-weight: 700;
border-width:5px 0px 5px 0px  ;
border-style: solid;
border-color: white;
left:25%;
line-height: 70px;

}

header  .button{
    position: absolute;
    top: 290px;
    width: 160px;
    border:2px solid white; 
    height: 50px;
    left:550px;
    display: block;
    background: none;
    color:white;
    font-size: 25px;
    font-weight: 650;
    border-radius: 5%;
    
}

/*---------------------------------------header end------------------------------------------------*/




/*------------------------------------------navbar start---------------------------------------------*/
nav{
height: 70px;
background-color:#252F31;
padding-right: 40px;



}
nav ul{

list-style: none;
float: right;

}
nav ul li{

    display: inline;
    padding:5px;
    color:#DDD;
    line-height: 70px;
    font-size: 1.3em;
}
nav .svg{

    font-size: 2em;
    font-style: italic;
    line-height: 70px;
    margin-left: 40px;
    color:#DEF;


}
nav .svg span{

    color:green;
    font:inherit;
}
nav ul li:hover{

    color:green;
    cursor:pointer;
}
nav ul .active{

color:green;

}

/*------------------------------------------start of article1 ------------------------------------------*/
.article1{

display: flex;
flex-direction: row;
box-sizing: border-box;
margin-bottom: 20px;

}
.article1 div{
width:33.33%;
padding:5px;
opacity: .8;


}
.article1 div h3 {font-size: 25px;margin:25px;color:#333}
.article1 div p {margin:25px;
    font-size: 1.1em;
    line-height: 1.5em ;
    color:#444; }

    ul{

        list-style:circle;
        
        
    }
    ul li{

        color:#444;
        font-size: 1.1em;
        padding:4px;
        
    }
/*------------------------------------------end of article1---------------------------------------------*/
.article2 div img{

    width: 100%;
    height:500px;
    border-radius:1%;
}
.article2 .photo{

width: 40%;
margin-left: 50px;



}
.article2{
    background-color: #F2F2F2;
    height:500px;
    display: flex;
    width: 100%;

}

progress{

    
    height:10%;
    background-color:#2DCC70;
    margin-bottom: 5px;
    
    
    }
    .eslam{


        display: flex;
        flex-direction: column;
        margin: 10px;
        
    
    }
progress{

width:400px;
margin: 5px;    
height: 30px;
    }

 
/*-----------------------------------------start of article2-------------------------------------------*/
.article3{

    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 50px;
    opacity: 0.8;
}
.article3 div{width: 50%;}
 
 
.article3 .skills{

   
   display: flex;
   flex-direction: column;
   

}
.article3 .skills p,.article2 .skills p{

    margin:25px;
    font-size: 1.1em;
    line-height: 1.5em ;
    color:#444;
}
.article3 .skills h3{

    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
    margin-left: 10px;
}
.article2 .contactme{
    position: relative;
    border: 1px solid green;
    font-size: 1.4em;
    color:#232;
    width:170px;
    height: 60px;
    text-align: center;
    line-height: 60px;  
    align-self: center; 
    background-color: #EDF; 
    top:20px; 
}
.article3 .skills .contactme:hover{

  border:3px solid black;
}



/*-----------------------------------------start of article3----------------------------------------------*/

/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/